{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block title %}Възстановяване на парола{% endblock %}

{% block content %}

<div class="auth-center">

    <div class="auth-wrapper">

        <div class="auth-card">

        <h2>Възстановяване на парола</h2>

        <p class="subtitle">
            Въведете имейла си и ще получите инструкции.
        </p>

        {% if messages %}
            {% for message in messages %}
                <div class="form-error-panel">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Имейл адрес</label>
                <input type="email" name="email" required>
            </div>

            <button type="submit" class="btn-primary">
                Изпрати имейл
            </button>
        </form>

        <div class="switch">
            <a href="{% url 'login' %}">Назад към вход</a>
        </div>

            </div>

    </div>

</div>

{% endblock %}