{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}

<div class="auth-center">

    <div class="auth-wrapper">

        <div class="auth-card success">

            <h2>Паролата е сменена</h2>

            <p class="subtitle">
                Вече можете да влезете в профила си.
            </p>

            <a href="{% url 'login' %}" class="btn-primary">
                Вход
            </a>

        </div>

    </div>

</div>

{% endblock %}