{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}

<div class="auth-center">

    <div class="auth-wrapper">

        <div class="auth-card success">

            <h2>Проверете имейла си</h2>

            <p class="subtitle">
                Изпратихме ви линк за възстановяване на паролата.
                Проверете и папка Spam.
            </p>

            <div class="switch">
                <a href="{% url 'login' %}">Към вход</a>
            </div>

        </div>

    </div>

</div>

{% endblock %}